nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #000;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

a {
  margin-right: 10px;
}

@media (max-width: 350px) {
  nav {
    align-items: center;
    flex-direction: column;
  }

  div {
    width: 100%;
  }
}
